dialog {
  background-color: #ffffe1;
  border-radius: 8px;
  border: 2px solid #000;
  text-align: left;
}

dialog strong {
  display: block;
}

dialog button {
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 8px;
}
