
section {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  align-items: center;
}

section.equipped {
  cursor: url('/bat128_1.png'), auto;
}

section.equipped.holding {
  cursor: url('/bat128_2.png'), auto;
}

section.equipped.swing {
  cursor: url('/bat128_swing.png'), auto;
}

section h1, section h2 {
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 28px;
  position: relative;
  text-align: center;
  text-shadow: 1px 1px 10px #d93e3e;
  margin: 0;
  margin-bottom: 8px;

}

section h2 {
  font-size: 20px;
  /* margin-bottom: 50px; */
}

/* #window:hover section h2 .hidingo {
  display: none;
} */

section em {
  font-style: normal;
  font-weight: 600;
  color: powderblue;
  cursor: pointer;
  font-size: 30px;
}

#window {
  position: relative;
  width: 100%;
  max-width: 500px;
}

.window-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
  position: relative;
  width: 100%;
  background: rgb(168,48,78);
  background: linear-gradient(90deg, rgba(168,48,78,1) 0%, rgba(190,140,150,1) 100%);
  box-sizing: border-box;
  border: 6px solid #111;
  border-top: 6px solid #ddd;
  border-left: 6px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.window-top .__title {
  color: #fff;
  font-weight: 600;
}

.window-content {
  position: relative;
  text-align: center;
  background-color: #aeaeae;
  height: max-content;
  padding: 0px 26px;
  border: 6px solid #111;
  border-top: 1px solid #ddd;
  border-left: 6px solid #ddd;
}

.window-content > span {
  position: absolute;
  right: 10px;
  bottom: 5px;
  color: #6f6c6c;
  font-size: .8rem;
  margin-left: 10px;
}

.window-top .__controls {
  display: flex;
  justify-content: center;
  gap: 2px;
}

.window-top button {
  height: 30px;
  width: 30px;
  background: #aeaeae;
  /* background: #000000; */
  content: '';
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: scroll;
}

.window-top .__controls button:nth-child(1) {
  background-image: url('/controls/minus.svg');
  background-position: center 7px;
  background-size: 25px;
}

.window-top .__controls button:nth-child(2) {
  background-image: url('/controls/square.svg');
}

.window-top .__controls button:last-child {
  background-image: url('/controls/x.svg');
  background-color: #fd3535;
  background-size: 24px;
}

.window-content::before {
  content: '';
  height: calc(100% - 52px);
  width: calc(100% - 26px);
  display: block;
  position: absolute;
  top: 20px;
  left: 10px;
  border: 4px solid #222;
  border-bottom: 4px solid #fff;
  border-right: 4px solid #fff;
  background: #0a9b49;
}

.window-content.space::before {
  background-image: url('/space_00.gif');
  background-blend-mode: lighten;
  background-color: #22181f;
}
.window-content.emerald::before {
  background-color: #05822a;
  background-repeat: round;
  background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/d44e8e4c-db34-4361-8508-e7288d4cc10f/d5a0tlk-09fd7f7b-7d6d-4634-8e65-ddd74583f578.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2Q0NGU4ZTRjLWRiMzQtNDM2MS04NTA4LWU3Mjg4ZDRjYzEwZlwvZDVhMHRsay0wOWZkN2Y3Yi03ZDZkLTQ2MzQtOGU2NS1kZGQ3NDU4M2Y1NzguZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.c6SQy85sngwJU-uOYQWDoQFTFD6LvMlwSb_xZeJhR90');
}

.equipped__mobile {
  display: none;
}

@media screen and (max-width: 720px) {

  .equipped__mobile {
    display: block;
    position: absolute;
    bottom: 40px;
    right: 20px;
    padding: 20px;
    border: 2px dashed rgb(255, 0, 191);
  }

  .equipped__mobile::after {
    display: block;
    content: 'Equipado!';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
    bottom: -30px;
    text-transform: uppercase;
    /* right: 50%; */
  }

}