
section {
  display: flex;
  justify-content: center;
  font-family: initial;
}

#banner {
  text-align: center;
  background-color: #222;
  padding: 20px 100px;
}

#banner h2 {
  font-size: 32px;
}

#banner h2 span {
  display: none;
}

#banner:hover h2 span {
  display: inline;
}

#banner h2 em {
  font-style: normal;
  font-weight: 600;
  color: powderblue;
}

@media screen and (max-width: 720px) {
  #banner {
    background-color: rgba(34,34,34,.6);
    padding: 20px 20px;
  }
}