/* @tailwind base; 
@tailwind components;
@tailwind utilities; */

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@font-face {
  font-family: 'Runescape UF'; /*a name to be used later*/
  src: url('/runescape_uf.ttf'); /*URL to font*/
}

body {
  margin: 0;
  /* display: flex; */
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
  background-image: url('/space.gif');
  color: #ee4dc6;
  font-family: 'Runescape UF' !important;
}

.spin {
  animation: spin 3s infinite linear;
}

@keyframes spin {
  from {
      transform: scale(1) rotate(0deg);
  }
  to {
      transform: scale(1) rotate(360deg);
  }
}