.health-bar {
  height: 30px;
  width: 200px;
  background-color: lime;
  position: absolute;
  top: -50px;
  left: 50%;
  opacity: 0;
  transform: translateX(-50%);
  transition: opacity .5s ease-in-out;
}


.health-bar.visible {
  opacity: 1;
}